@media screen and (max-width:566px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-item-container {
        flex-direction: column;
        width: 100%;
    }

    .nav-item-container a {
        margin-top: 20px;
    }

    .nav-item-container .login-btn {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    /* nav responsive end hare */
    .banner-container {
        flex-direction: column;
    }

    .banner-text,
    .banner-img {
        width: 100%;
        margin-top: 20px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .banner-text p {
        font-size: 25px;
    }

    .fa-brands {
        font-size: 35;
    }

    .banner-btn {
        font-size: 18px;
        width: 60%;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* banner responsive end here */
    /* product responsive start hare */

    .grid-container{
        grid-template-columns: 1fr;
        margin-left: 40px;
    }

    /* product responsive end hare */
    .discount-container{
        flex-direction: column;
    }
    .discount-img{
        width: 100%;
    }
    .discount-text{
        width: 100%;
        padding: 20px;
    }
}

@media screen and (min-width:567px) and (max-width:992px) {
    .logo-container {
        margin-left: 40px;
    }

    .nav-item-container {
        margin-right: 40px;
    }

    /* banner responsive start hare */
    .banner-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .banner-text,
    .banner-img {
        width: 100%;
        margin-bottom: 20px;
    }

    /* banner responsive end hare */

    /* product responsive start hare */
    .grid-container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 65px;
        gap: 20px;
    }
    /* product responsive end hare */
}