* {
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #9376e0;
    border-radius: 5px;
}

.nav-container {
    min-height: 80px;
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;

}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container img {
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.logo-container p {
    font-size: 30px;
}

.nav-item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-container a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav-item-container .login-btn {
    background-color: #e893cf;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: black;
}

/* nav deasin start */

.banner-container {
    max-width: 1300px;
    margin: 50px auto 0px;
    min-height: 100px;
    background-color: #e6e9eb;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}

.banner-text {
    width: 50%;
    text-align: center;
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    margin-top: 30px;
}

.banner-text p {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.fa-brands {
    font-size: 50px;
}

.icone-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 30px auto 20px;
}

.banner-btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 5px;
}

/* banner section end hare */

/* products section start hare */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1300px;
    margin: 50px auto 10px;
    min-height: 400px;

}

.single-product {
    width: 300px;
    background-color: rgba(171, 177, 183, 0.474);
    border: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px black;
}

.single-product img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.product-icone-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-icone {
    font-size: 20px;
}

.product-icone-name-container span {
    padding: 8px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: aliceblue;
}

.single-product p {
    margin-top: 15px;
}

/* products section end hare */

/* discount container start hare */
.discount-section {
    background-color: #9376e0;
    min-height: 500px;
    padding: 20px 0;
}

.discount-container {
    max-width: 1400px;
    margin: 0 auto;

    min-height: 200px;
    display: flex;
    align-items: center;
}

.discount-img {
    width: 50%;
    position: relative;


}

.discount-img img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.discount-text {
    width: 50%;
}

.discount-number {
    height: 90px;
    width: 90px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 63%;

}
.discount-number{
    background-color: yellow;
}

/* discount container end hare */

.revier-container{
    min-height: 200px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.single-review{
    flex-basis: 300px;
    background-color: #e893cf;
    border-radius: 10px;
    padding: 10px;
}
.single-review img{
    width: 60px;
    height: 60px;
}
.top-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container{
    max-width: 1300px;
    margin: 0 auto;
    height: 200px;
    background-color: #9376e0;
    margin-bottom: 50px;
}